<div class="container-fluid d-flex justify-content-center gx-0" style="border-bottom: 1px solid grey;">
    <div class="col-11 d-flex flex-lg-row flex-column justify-content-lg-between align-items-center py-4">
        <div class="d-flex flex-sm-row flex-column align-items-sm-center justify-content-center mt-lg-0 mt-3">
            <a href="" class="tags mb-2"> ABOUT US</a>

            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn tags mb-2 p-0 ms-sm-2 me-sm-2 mb-2" id="dropdownBasic1"
                    ngbDropdownToggle>
                    SERVICES
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Fishing Charter</button>
                    <button ngbDropdownItem>Market</button>
                    <button ngbDropdownItem>Restauraunt</button>
                </div>
            </div>
            <a href="" class="tags  me-sm-2 mb-2">REEL SCOPE</a>
            <a href="" class="tags mb-2">CONTACT</a>
        </div>

        <div class="logo">
            <img src="assets/images/banner_logo.png" alt="logo" height="100%" width="100%">
        </div>

        <div class="d-flex align-items-center mt-lg-0 mt-3">
            <button type="button" class="btn reservation"> Reservation </button>
            <div class="right_arrow">
                <img src="assets/images/right arrow.png" alt="logo" height="30px" width="30px">
            </div>
        </div>
    </div>
</div>