/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


html,
body {
    height: 100%;
}

body {
    margin: 0;
    color: #333;
    font-family: "Sen", sans-serif;
    font-size: 16px;
}

html {
    font-size: 100%;
}